
#d1{
    position: relative;
    left: 400px;
    width: 300px; 
    height: 200px;
    background-color: green;
    /* margin: 10px 20px 30px 40px; */
}

#d2{
    position: absolute;
    left: 100px;
    top: 50px;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    background-color: red;
}
.c1{
    width: 100px; 
    height: 100px;
    background-color: yellow;
}